---
const SKILLS = [
  {
    name: 'AWS',
    alt: 'AWS Logo',
    path: '/skills/aws.webp'
  },
  {
    name: 'JavaScript',
    alt: 'JavaScript Logo',
    path: '/skills/javascript.webp'
  },
  {
    name: 'jQuery',
    alt: 'jQuery Logo',
    path: '/skills/jquery.webp'
  },
  {
    name: 'Laravel',
    alt: 'Laravel Logo',
    path: '/skills/laravel.webp'
  },
  {
    name: 'Nuxt',
    alt: 'Nuxt JS Logo',
    path: '/skills/nuxt.webp'
  },
  {
    name: 'PHP',
    alt: 'PHP Logo',
    path: '/skills/php.webp'
  },
  {
    name: 'React',
    alt: 'React Logo',
    path: '/skills/react.webp'
  },
  {
    name: 'Vue.js',
    alt: 'Vue JS Logo',
    path: '/skills/vue.webp'
  },
  {
    name: 'Tailwind',
    alt: 'Tailwind CSS Logo',
    path: '/skills/tailwind.webp'
  },
  {
    name: 'Bootstrap',
    alt: 'Bootstrap CSS Logo',
    path: '/skills/bootstrap.webp'
  },
  {
    name: 'HTML',
    alt: 'HTML Logo',
    path: '/skills/html.webp'
  },
  {
    name: 'CSS',
    alt: 'CSS Logo',
    path: '/skills/css.webp'
  },
  {
    name: 'Docker',
    alt: 'Docker Logo',
    path: '/skills/docker.webp'
  },
  {
    name: 'Git',
    alt: 'Git Logo',
    path: '/skills/git.webp'
  },
  {
    name: 'Wordpress',
    alt: 'Wordpress Logo',
    path: '/skills/wordpress.webp'
  },
];
---

<div id="skills" class="grid grid-cols-2 md:grid-cols-3 gap-20 text-center my-20">
  {
    SKILLS.map(({ name, alt, path }) => (
      <div class="flex flex-col justify-center items-center gap-y-8 m-auto">
        <img src={ path } alt={ alt } class="w-28" />
        <h2>{ name }</h2>
      </div>
    ))
  }
</div>



